<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Goniometría</h3>
    </div>
    <div class="card-body">
        <div class="border row g-3 pb-3 align-items-center">
            <div class="col-md-12 text-center">
                <h4>HOMBRO</h4>
            </div>
            <div class="col-md-4">
                <h3 class="input-custom text-center">Flexión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroDerechoFlexion"
                    placeholder="Grado (Derecha)" name="hombro_flexion_derecha">
                <label for="textHombroDerechoFlexion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroIzquierdoFlexion"
                    placeholder="Grado (Izquierda)" name="hombro_flexion_izquierda">
                <label for="textHombroIzquierdoFlexion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Extensión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroDerechoExtension"
                    placeholder="Grado (Derecha)" name="hombro_extension_derecha">
                <label for="textHombroDerechoExtension">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroIzquierdoExtension"
                    placeholder="Grado (Izquierda)" name="hombro_extension_izquierda">
                <label for="textHombroIzquierdoExtension">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Abducción</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroDerechoAbduccion"
                    placeholder="Grado (Derecha)" name="hombro_abduccion_derecha">
                <label for="textHombroDerechoAbduccion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroIzquierdoAbduccion"
                    placeholder="Grado (Izquierda)" name="hombro_abduccion_izquierda">
                <label for="textHombroIzquierdoAbduccion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Aducción</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroDerechoAduccion"
                    placeholder="Grado (Derecha)" name="hombro_aduccion_derecha">
                <label for="textHombroDerechoAduccion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroIzquierdoAduccion"
                    placeholder="Grado (Izquierda)" name="hombro_aduccion_izquierda">
                <label for="textHombroIzquierdoAduccion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Rotación interna</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroDerechoRotacionInterna"
                    placeholder="Grado (Derecha)" name="hombro_rotacion_interna_derecha">
                <label for="textHombroDerechoRotacionInterna">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroIzquierdoRotacionInterna"
                    placeholder="Grado (Izquierda)" name="hombro_rotacion_interna_izquierda">
                <label for="textHombroIzquierdoRotacionInterna">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Rotación externa</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroDerechoRotacionExterna"
                    placeholder="Grado (Derecha)" name="hombro_rotacion_externa_derecha">
                <label for="textHombroDerechoRotacionExterna">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textHombroIzquierdoRotacionExterna"
                    placeholder="Grado (Izquierda)" name="hombro_rotacion_externa_izquierda">
                <label for="textHombroIzquierdoRotacionExterna">Grado (Izquierda)</label>
            </div>
        </div>

        <div class="border row g-3 pb-3 align-items-center">
            <div class="col-md-12 text-center mt-4">
                <h4>CODO</h4>
            </div>
            <div class="col-md-4">
                <h3 class="input-custom text-center">Flexión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCodoDerecholexion"
                    placeholder="Grado (Derecha)" name="codo_flexion_derecha">
                <label for="textCodoDerecholexion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCodoIzquierdoFlexion"
                    placeholder="Grado (Izquierda)" name="codo_flexion_izquierda">
                <label for="textCodoIzquierdoFlexion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Extensión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCodoDerechoExtension"
                    placeholder="Grado (Derecha)" name="codo_extension_derecha">
                <label for="textCodoDerechoExtension">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCodoIzquierdoExtension"
                    placeholder="Grado (Izquierda)" name="codo_extension_izquierda">
                <label for="textCodoIzquierdoExtension">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Pronación</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCodoDerechoPronacion"
                    placeholder="Grado (Derecha)" name="codo_pronacion_derecha">
                <label for="textCodoDerechoPronacion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCodoIzquierdoPronacion"
                    placeholder="Grado (Izquierda)" name="codo_pronacion_izquierda">
                <label for="textCodoIzquierdoPronacion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Supinación</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCodoDerechoSupinacion"
                    placeholder="Grado (Derecha)" name="codo_supinacion_derecha">
                <label for="textCodoDerechoSupinacion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCodoIzquierdoSupinacion"
                    placeholder="Grado (Izquierda)" name="codo_supinacion_izquierda">
                <label for="textCodoIzquierdoSupinacion">Grado (Izquierda)</label>
            </div>
        </div>

        <div class="border row g-3 pb-3 align-items-center">
            <div class="col-md-12 text-center mt-4">
                <h4>MUÑECA</h4>
            </div>
            <div class="col-md-4">
                <h3 class="input-custom text-center">Flexión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textMunecaDerecholexion"
                    placeholder="Grado (Derecha)" name="muneca_flexion_derecha">
                <label for="textMunecaDerecholexion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textMunecaIzquierdoFlexion"
                    placeholder="Grado (Izquierda)" name="muneca_flexion_izquierda">
                <label for="textMunecaIzquierdoFlexion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Extensión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textMunecaDerechoExtension"
                    placeholder="Grado (Derecha)" name="muneca_extension_derecha">
                <label for="textMunecaDerechoExtension">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textMunecaIzquierdoExtension"
                    placeholder="Grado (Izquierda)" name="muneca_extension_izquierda">
                <label for="textMunecaIzquierdoExtension">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Desviación radial</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textMunecaDerechoRadial"
                    placeholder="Grado (Derecha)" name="muneca_radial_derecha">
                <label for="textMunecaDerechoRadial">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textMunecaIzquierdoRadial"
                    placeholder="Grado (Izquierda)" name="muneca_radial_izquierda">
                <label for="textMunecaIzquierdoRadial">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Desviación cubital</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textMunecaDerechoCubital"
                    placeholder="Grado (Derecha)" name="muneca_cubital_derecha">
                <label for="textMunecaDerechoCubital">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textMunecaIzquierdoCubital"
                    placeholder="Grado (Izquierda)" name="muneca_cubital_izquierda">
                <label for="textMunecaIzquierdoCubital">Grado (Izquierda)</label>
            </div>
        </div>

        <div class="border row g-3 pb-3 align-items-center">
            <div class="col-md-12 text-center">
                <h4>CADERA</h4>
            </div>
            <div class="col-md-4">
                <h3 class="input-custom text-center">Flexión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaDerechoFlexion"
                    placeholder="Grado (Derecha)" name="cadera_flexion_derecha">
                <label for="textCaderaDerechoFlexion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaIzquierdoFlexion"
                    placeholder="Grado (Izquierda)" name="cadera_flexion_izquierda">
                <label for="textCaderaIzquierdoFlexion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Extensión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaDerechoExtension"
                    placeholder="Grado (Derecha)" name="cadera_extension_derecha">
                <label for="textCaderaDerechoExtension">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaIzquierdoExtension"
                    placeholder="Grado (Izquierda)" name="cadera_extension_izquierda">
                <label for="textCaderaIzquierdoExtension">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Abducción</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaDerechoAbduccion"
                    placeholder="Grado (Derecha)" name="cadera_abduccion_derecha">
                <label for="textCaderaDerechoAbduccion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaIzquierdoAbduccion"
                    placeholder="Grado (Izquierda)" name="cadera_abduccion_izquierda">
                <label for="textCaderaIzquierdoAbduccion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Aducción</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaDerechoAduccion"
                    placeholder="Grado (Derecha)" name="cadera_aduccion_derecha">
                <label for="textCaderaDerechoAduccion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaIzquierdoAduccion"
                    placeholder="Grado (Izquierda)" name="cadera_aduccion_izquierda">
                <label for="textCaderaIzquierdoAduccion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Rotación interna</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaDerechoRotacionInterna"
                    placeholder="Grado (Derecha)" name="cadera_rotacion_interna_derecha">
                <label for="textCaderaDerechoRotacionInterna">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaIzquierdoRotacionInterna"
                    placeholder="Grado (Izquierda)" name="cadera_rotacion_interna_izquierda">
                <label for="textCaderaIzquierdoRotacionInterna">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Rotación externa</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaDerechoRotacionExterna"
                    placeholder="Grado (Derecha)" name="cadera_rotacion_externa_derecha">
                <label for="textCaderaDerechoRotacionExterna">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textCaderaIzquierdoRotacionExterna"
                    placeholder="Grado (Izquierda)" name="cadera_rotacion_externa_izquierda">
                <label for="textCaderaIzquierdoRotacionExterna">Grado (Izquierda)</label>
            </div>
        </div>

        <div class="border row g-3 pb-3 align-items-center">
            <div class="col-md-12 text-center">
                <h4>RODILLA</h4>
            </div>
            <div class="col-md-4">
                <h3 class="input-custom text-center">Flexión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textRodillaDerechoFlexion"
                    placeholder="Grado (Derecha)" name="rodilla_flexion_derecha">
                <label for="textRodillaDerechoFlexion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textRodillaIzquierdoFlexion"
                    placeholder="Grado (Izquierda)" name="rodilla_flexion_izquierda">
                <label for="textRodillaIzquierdoFlexion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Extensión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textRodillaDerechoExtension"
                    placeholder="Grado (Derecha)" name="rodilla_extension_derecha">
                <label for="textRodillaDerechoExtension">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textRodillaIzquierdoExtension"
                    placeholder="Grado (Izquierda)" name="rodilla_extension_izquierda">
                <label for="textRodillaIzquierdoExtension">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Rotación interna</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textRodillaDerechoRotacionInterna"
                    placeholder="Grado (Derecha)" name="rodilla_rotacion_interna_derecha">
                <label for="textRodillaDerechoRotacionInterna">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textRodillaIzquierdoRotacionInterna"
                    placeholder="Grado (Izquierda)" name="rodilla_rotacion_interna_izquierda">
                <label for="textRodillaIzquierdoRotacionInterna">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Rotación externa</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textRodillaDerechoRotacionExterna"
                    placeholder="Grado (Derecha)" name="rodilla_rotacion_externa_derecha">
                <label for="textRodillaDerechoRotacionExterna">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textRodillaIzquierdoRotacionExterna"
                    placeholder="Grado (Izquierda)" name="rodilla_rotacion_externa_izquierda">
                <label for="textRodillaIzquierdoRotacionExterna">Grado (Izquierda)</label>
            </div>
        </div>

        <div class="border row g-3 pb-3 align-items-center">
            <div class="col-md-12 text-center">
                <h4>TOBILLO</h4>
            </div>
            <div class="col-md-4">
                <h3 class="input-custom text-center">Flexión plantar</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textTobilloDerechoFlexion"
                    placeholder="Grado (Derecha)" name="tobillo_flexion_derecha">
                <label for="textTobilloDerechoFlexion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textTobilloIzquierdoFlexion"
                    placeholder="Grado (Izquierda)" name="tobilla_flexion_izquierda">
                <label for="textTobilloIzquierdoFlexion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Dorsi flexión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textTobilloDerechoDorsiflexion"
                    placeholder="Grado (Derecha)" name="tobillo_dorsiflexion_derecha">
                <label for="textTobilloDerechoDorsiflexion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textTobilloIzquierdoDorsiflexion"
                    placeholder="Grado (Izquierda)" name="tobillo_dorsiflexion_izquierda">
                <label for="textTobilloIzquierdoDorsiflexion">Grado (Izquierda)</label>
            </div>

            <div class="col-md-4">
                <h3 class="input-custom text-center">Inversión</h3>
            </div>

            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textTobilloDerechoInversion"
                    placeholder="Grado (Derecha)" name="tobillo_inversion_derecha">
                <label for="textTobilloDerechoInversion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textTobilloIzquierdoInversion"
                    placeholder="Grado (Izquierda)" name="tobillo_inversion_izquierda">
                <label for="textTobilloIzquierdoInversion">Grado (Izquierda)</label>
            </div>
            <div class="col-md-4">
                <h3 class="input-custom text-center">Eversión</h3>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textTobilloDerechoEversion"
                    placeholder="Grado (Derecha)" name="tobillo_eversion_derecha">
                <label for="textTobilloDerechoEversion">Grado (Derecha)</label>
            </div>
            <div class="form-floating col-md-4">
                <input type="number" class="input-custom form-control" id="textRodillaIzquierdoRotacionInterna"
                    placeholder="Grado (Izquierda)" name="tobillo_eversion_izquierda">
                <label for="textRodillaIzquierdoRotacionInterna">Grado (Izquierda)</label>
            </div>
        </div>



    </div>
</div>