<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Registro del Paciente</h3>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="inputNombre" class="form-label">Nombres:</label>
                <input required type="text" class="input-custom form-control" id="inputNombre" name="nombres">
            </div>
            <div class="col-md-6">
                <label for="inputApellido" class="form-label">Apellidos:</label>
                <input required type="text" class="input-custom form-control" id="inputApellido" name="apellidos">
            </div>
            <div class="col-md-3">
                <label for="inputNacimiento" class="form-label">Fecha de Nacimiento:</label>
                <input required type="date" class="input-custom form-control" id="inputNacimiento"
                    name="fecha_nacimiento">
            </div>
            <div class="col-md-3">
                <label for="inputEdad" class="form-label">Edad:</label>
                <input type="text" class="input-custom form-control" id="inputEdad" name="edad">
            </div>
            <div class="col-md-3">
                <label for="inputSexo" class="form-label">Sexo:</label>
                <select required id="inputSexo" class="input-custom form-select" name="sexo">
                    <option selected disabled>Seleccionar...</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputEstadoCivil" class="form-label">Estado Civil:</label>
                <select required id="inputEstadoCivil" class="input-custom form-select" name="estado_civil">
                    <option selected disabled>Seleccionar...</option>
                    <option>Soltero/a</option>
                    <option>Casado/a</option>
                    <option>Divorciado/a</option>
                    <option>Viudo/a</option>
                    <option>Unión de Hecho</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputCedula" class="form-label">Cédula:</label>
                <input required type="text" class="input-custom form-control" id="inputCedula" name="cedula">
            </div>
            <div class="col-md-4">
                <label for="inputCelular" class="form-label">Celular:</label>
                <input required type="text" class="input-custom form-control" id="inputCelular" name="celular">
            </div>
            <div class="col-md-4">
                <label for="inputCorreo" class="form-label">Correo Electrónico:</label>
                <input required type="email" class="input-custom form-control" id="inputCorreo" name="correo">
            </div>
            <div class="col-md-4">
                <label for="inputLugarNacimiento" class="form-label">Lugar de nacimiento:</label>
                <input required type="text" class="input-custom form-control" id="inputLugarNacimiento"
                    name="lugar_nacimiento">
            </div>
            <div class="col-md-4">
                <label for="inputLugarRecidencia" class="form-label">Lugar de residencia:</label>
                <input required type="text" class="input-custom form-control" id="inputLugarRecidencia"
                    name="lugar_recidencia">
            </div>
            <div class="col-md-4">
                <label for="inputDireccionDomicilio" class="form-label">Dirección del Domicilio:</label>
                <input required type="text" class="input-custom form-control" id="inputDireccionDomicilio"
                    name="direccion_domicilio">
            </div>
            <div class="col-md-4">
                <label for="inputNivelInstruccion" class="form-label">Nivel de Instrucción:</label>
                <input required type="text" class="input-custom form-control" id="inputNivelInstruccion"
                    name="nivel_instruccion">
            </div>
            <div class="col-md-4">
                <label for="inputOcupacion" class="form-label">Ocupación:</label>
                <input required type="text" class="input-custom form-control" id="inputOcupacion" name="ocupacion">
            </div>
            <div class="col-md-4">
                <label for="inputProfesion" class="form-label">Profesión:</label>
                <input required type="text" class="input-custom form-control" id="inputProfesion" name="profesion">
            </div>
            <div class="col-md-4">
                <label for="inputSeguroSocial" class="form-label">Seguro Social:</label>
                <input required type="text" class="input-custom form-control" id="inputSeguroSocial"
                    name="seguro_social">
            </div>
            <div class="col-md-4">
                <label for="inputRaza" class="form-label">Raza:</label>
                <input required type="text" class="input-custom form-control" id="inputRaza" name="raza">
            </div>
            <div class="col-md-4">
                <label for="inputReligion" class="form-label">Religión:</label>
                <input required type="text" class="input-custom form-control" id="inputReligion" name="religion">
            </div>
        </div>
    </div>
</div>