<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Antecedentes Heredofamiliares</h3>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-2 p-2 text-center">
                <h3 class="input-custom">Enfermedades congénitas</h3>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputSiCongenitas"
                    name="enfermedad_congenita" value=True>
                <label for="inputSiCongenitas" class="input-custom form-check-label">Sí</label>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputNoCongenitas"
                    name="enfermedad_congenita" value=False>
                <label for="inputNoCongenitas" class="input-custom form-check-label">No</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="floatingCongenitasParentesco"
                    placeholder="Parentesco" name="congenita_parentesco">
                <label for="floatingCongenitasParentesco">Parentesco</label>
            </div>
            <div class="form-floating col-md-5">
                <textarea class="input-custom form-control" id="floatingCongenitasEspecifique"
                    placeholder="Especifique" name="congenita_especificar"></textarea>
                <label for="floatingCongenitasEspecifique">Especifique</label>
            </div>



            <div class="col-md-2 p-2">
                <h3 class="input-custom text-center">Enfermedades Infecciosas</h3>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputSiInfecciosa"
                    name="enfermedad_infecciosa" value=True>
                <label for="inputSiInfecciosa" class="input-custom form-check-label">Sí</label>

            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputNoInfecciosa"
                    name="enfermedad_infecciosa" value="False">
                <label for="inputNoInfecciosa" class="input-custom form-check-label">No</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="floatingInfecciosaParentesco"
                    placeholder="Parentesco" name="infecciosa_parentesco">
                <label for="floatingInfecciosaParentesco">Parentesco</label>
            </div>
            <div class="form-floating col-md-5">
                <textarea class="input-custom form-control" id="floatingInfecciosaEspecifique"
                    placeholder="Especifique" name="infecciosa_especificar"></textarea>
                <label for="floatingInfecciosaEspecifique">Especifique</label>
            </div>


            <div class="col-md-2 p-2">
                <h3 class="input-custom text-center">Enfermedades Metabólicas</h3>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputSiMetabolica"
                    name="enfermedad_metabolica" value=True>
                <label for="inputSiMetabolica" class="input-custom form-check-label">Sí</label>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputNoMetabolica"
                    name="enfermedad_metabolica" value=False>
                <label for="inputNoMetabolica" class="input-custom form-check-label">No</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="floatingMetabolicaParentesco"
                    placeholder="Parentesco" name="metabolica_parentesco">
                <label for="floatingMetabolicaParentesco">Parentesco</label>
            </div>
            <div class="form-floating col-md-5">
                <textarea class="input-custom form-control" id="floatingMetabolicaEspecifique"
                    placeholder="Especifique" name="metabolica_especificar"></textarea>
                <label for="floatingMetabolicaEspecifique">Especifique</label>
            </div>


            <div class="col-md-2 p-2">
                <h3 class="input-custom text-center">Enfermedades Musculoesquelético</h3>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputSiMusculoesqueletico"
                    name="enfermedad_musculoesqueletico" value=True>
                <label for="inputSiMusculoesqueletico" class="input-custom form-check-label">Sí</label>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputNoMusculoesqueletico"
                    name="enfermedad_musculoesqueletico" value=False>
                <label for="inputNoMusculoesqueletico" class="input-custom form-check-label">No</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="floatingMusculoesqueleticoParentesco"
                    placeholder="Parentesco" name="musculoesqueletico_parentesco">
                <label for="floatingMusculoesqueleticoParentesco">Parentesco</label>
            </div>
            <div class="form-floating col-md-5">
                <textarea class="input-custom form-control" id="floatingMusculoesqueleticoEspecifique"
                    placeholder="Especifique" name="musculoesqueletico_especificar"></textarea>
                <label for="floatingMusculoesqueleticoEspecifique">Especifique</label>
            </div>


            <div class="col-md-2 p-2">
                <h3 class="input-custom text-center">Enfermedades Cardiovasculares</h3>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputSiCardiovascular"
                    name="enfermedad_cardiovascular" value=True>
                <label for="inputSiCardiovascular" class="input-custom form-check-label">Sí</label>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputNoCardiovascular"
                    name="enfermedad_cardiovascular" value=False>
                <label for="inputNoCardiovascular" class="input-custom form-check-label">No</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="floatingCardiovascularParentesco"
                    placeholder="Parentesco" name="cardiovascular_parentesco">
                <label for="floatingCardiovascularParentesco">Parentesco</label>
            </div>
            <div class="form-floating col-md-5">
                <textarea class="input-custom form-control" id="floatingCardiovascularEspecifique"
                    placeholder="Especifique" name="cardiovascular_especificar"></textarea>
                <label for="floatingCardiovascularEspecifique">Especifique</label>
            </div>

            <div class="col-md-2 p-2">
                <h3 class="input-custom text-center">Enfermedades Respiratorias</h3>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputSiRespiratoria"
                    name="enfermedad_respiratoria" value=True>>
                <label for="inputSiRespiratoria" class="input-custom form-check-label">Sí</label>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputNoRespiratoria"
                    name="enfermedad_respiratoria" value=False>>
                <label for="inputNoRespiratoria" class="input-custom form-check-label">No</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="floatingRespiratoriasParentesco"
                    placeholder="Parentesco" name="respiratoria_parentesco">
                <label for="floatingRespiratoriasParentesco">Parentesco</label>
            </div>
            <div class="form-floating col-md-5">
                <textarea class="input-custom form-control" id="floatingRespiratoriasEspecifique"
                    placeholder="Especifique" name="respiratoria_especificar"></textarea>
                <label for="floatingRespiratoriasEspecifique">Especifique</label>
            </div>


            <div class="col-md-2 p-2">
                <h3 class="input-custom text-center">Enfermedades Oncológicas</h3>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputSiOncologica"
                    name="enfermedad_oncologica" value=True>
                <label for="inputSiOncologica" class="input-custom form-check-label">Sí</label>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputNoOncologica"
                    name="enfermedad_oncologica" value=False>
                <label for="inputNoOncologica" class="input-custom form-check-label">No</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="floatingOncologicasParentesco"
                    placeholder="Parentesco" name="oncologica_parentesco">
                <label for="floatingOncologicasParentesco">Parentesco</label>
            </div>
            <div class="form-floating col-md-5">
                <textarea class="input-custom form-control" id="floatingOncologicasEspecifique"
                    placeholder="Especifique" name="oncologica_especificar"></textarea>
                <label for="floatingOncologicasEspecifique">Especifique</label>
            </div>


            <div class="col-md-2 p-2">
                <h3 class="input-custom text-center">Otras</h3>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputSiOtra"
                    name="enfermedad_otra" value=True>
                <label for="inputSiOtra" class="input-custom form-check-label">Sí</label>
            </div>
            <div class="col-md-1 p-3 text-center">
                <input required type="radio" class="input-custom form-check-input" id="inputNoOtra"
                    name="enfermedad_otra" value=False>
                <label for="inputNoOtra" class="input-custom form-check-label">No</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="floatingOtrasParentesco"
                    placeholder="Parentesco" name="otra_parentesco">
                <label for="floatingOtrasParentesco">Parentesco</label>
            </div>
            <div class="form-floating col-md-5">
                <textarea class="input-custom form-control" id="floatingOtrasEspecifique"
                    placeholder="Especifique" name="otra_especificar"></textarea>
                <label for="floatingOtrasEspecifique">Especifique</label>
            </div>
        </div>
    </div>
</div>