<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Antecedentes Personales</h3>
    </div>
    <div class="card-body">
        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Alergias</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaAsma"
                        name="alergia_asma">
                    <label class="input-custom form-check-label" for="checkAlergiaAsma">Asma</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaRinitis"
                        value="Rinitis" name="alergia_rinitis">
                    <label class="input-custom form-check-label" for="checkAlergiaRinitis">Rinitis</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaConjuntivitis"
                        value="Conjuntivitis" name="alergia_conjuntivitis">
                    <label class="input-custom form-check-label" for="checkAlergiaConjuntivitis">Conjuntivitis</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaAlimentos"
                        name="alergia_alimentos">
                    <label class="input-custom form-check-label" for="checkAlergiaAlimentos">Alergia a
                        alimentos</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaLatex"
                        name="alergia_latex">
                    <label class="input-custom form-check-label" for="checkAlergiaLatex">Alergia al látex</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaNinguna"
                        name="alergia_ninguna">
                    <label class="input-custom form-check-label" for="checkAlergiaNinguna">Ninguna</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaAlergiaOtra" placeholder="Otra"
                    name="alergia_otra">
                <label for="textareaAlergiaOtra">Otra</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Enfermedades Dermatológicas</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed_dermatitis_atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Dermatitis
                        atópica</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDAcne" name="ed_acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Acné</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDUrticaria"
                        name="ed_urticaria">
                    <label class="input-custom form-check-label" for="checkEDUrticaria">Urticaria</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDVitiligo"
                        name="ed_vitiligo">
                    <label class="input-custom form-check-label" for="checkEDVitiligo">Vitíligo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDQueratosis"
                        name="ed_queratosis">
                    <label class="input-custom form-check-label" for="checkEDQueratosis">Queratosis</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDSarna" name="ed_sarna">
                    <label class="input-custom form-check-label" for="checkEDSarna">Sarna</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDPieAtleta"
                        name="ed_pie_atleta">
                    <label class="input-custom form-check-label" for="checkEDPieAtleta">Pie de atleta</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDHongos" name="ed_hongos">
                    <label class="input-custom form-check-label" for="checkEDHongos">Hongos</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDNinguna" name="ed_ninguna">
                    <label class="input-custom form-check-label" for="checkEDNinguna">Ninguna</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Otra"
                    name="ed_otra">
                <label for="textareaEDOtra">Otra</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Antecedentes Quirúrgicos</h3>
            </div>
            <div class="col-md-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="radioSiQuirurgico" value=True
                        name="ed=dermatitis-atopica" name="tiene_cirugia">
                    <label class="input-custom form-check-label" for="radioSiQuirurgico">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="radioNoQuirurgico" value=False
                        name="tiene_cirugia">
                    <label class="input-custom form-check-label" for="radioNoQuirurgico">No</label>
                </div>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="textAreaCirugia" placeholder="Área"
                    name="area_cirugia">
                <label for="textAreaCirugia">Área</label>
            </div>
            <div class="form-floating col-md-5">
                <input type="text" class="input-custom form-control" id="textMotivoCirugia" placeholder="Motivo"
                    name="motivo_cirugia">
                <label for="textareaEDOtra">Motivo</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Utilización de Fármacos</h3>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="textNombreFarmaco"
                    placeholder="Nombre del Fármaco" name="nombre_farmaco">
                <label for="textNombreFarmaco">Nombre del Fármaco</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textFarmacoAnticonceptivo"
                    placeholder="Farmácos por anticoncepción" name="farmaco_anticoceptivo">
                <label for="textFarmacoAnticonceptivo">Farmácos por anticoncepción</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textOtroMotivo"
                    placeholder="Farmácos por otro motivo" name="farmaco_otro_motivo">
                <label for="textOtroMotivo">Farmácos por otro motivo</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textFarmacoFrecuencia" placeholder="Frecuencia"
                    name="farmaco_frecuencia">
                <label for="textFarmacoFrecuencia">Frecuencia</label>
            </div>
            <div class="form-floating col-md-1">
                <input type="text" class="input-custom form-control" id="textFarmacoDosificacion"
                    placeholder="Dosificación" name="farmaco_dosificacion">
                <label for="textFarmacoDosificacion">Dosificación</label>
            </div>
        </div>


        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Implantes</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkDiu" name="implante_diu">
                    <label class="input-custom form-check-label" for="checkDiu">Implante
                        Anticonceptivo Diu</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkMamoplastia"
                        name="implante_mamoplastia">
                    <label class="input-custom form-check-label" for="checkMamoplastia">Mamoplastia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkArticulaciones"
                        name="implante_articulacion">
                    <label class="input-custom form-check-label" for="checkArticulaciones">Implantes de
                        articulaciones</label>
                    <div class="form-floating">
                        <input type="text" class="input-custom form-control" id="textAreaArticulacion"
                            placeholder="Área" name="area_articulacion">
                        <label for="textAreaArticulacion">Área</label>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkNingunImplante"
                        name="ningun_implante">
                    <label class="input-custom form-check-label" for="checkNingunImplante">Ninguna</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textOtroImplante" placeholder="Otro"
                    name="otro_implante">
                <label for="textOtroImplante">Otro</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Transtornos Sanguíneos</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkProblemaPlaquetario"
                        name="transtorno_plaquetas">
                    <label class="input-custom form-check-label" for="checkProblemaPlaquetario">Problemas
                        plaquetarios</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAnemias"
                        name="transtorno_anemia">
                    <label class="input-custom form-check-label" for="checkAnemias">Anemias</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkCoagulacionExcesiva"
                        name="transtorno_coagulacion">
                    <label class="input-custom form-check-label" for="checkCoagulacionExcesiva">Coagulación
                        excesiva</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkHemofilia"
                        name="transtorno_hemofilia">
                    <label class="input-custom form-check-label" for="checkHemofilia">Hemofilia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkTrombocitopenia"
                        name="transtorno_trombocitopenia">
                    <label class="input-custom form-check-label" for="checkTrombocitopenia">Trombocitopenia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkTrombocitosis"
                        name="transtorno_trombocitosis">
                    <label class="input-custom form-check-label" for="checkTrombocitosis">Trombocitosis</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textOtroTranstorno" placeholder="Otro"
                    name="transtorno_otro">
                <label for="textOtroTranstorno">Otro</label>
            </div>
        </div>


        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Enfermedades Mentales</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEsquizofrenia" value="Asma"
                        name="mental_esquizofrenia">
                    <label class="input-custom form-check-label" for="checkEsquizofrenia">Esquizofrenia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkBipolar"
                        name="mental_bipolar">
                    <label class="input-custom form-check-label" for="checkBipolar">Trastorno bipolar</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkDemencia"
                        name="mental_demencia">
                    <label class="input-custom form-check-label" for="checkDemencia">Demencia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkDepresivo"
                        name="mental_depresivo">
                    <label class="input-custom form-check-label" for="checkDepresivo">Trastorno depresivo</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textMentalOtro" placeholder="Otra"
                    name="mental_otra">
                <label for="textMentalOtro">Otra</label>
            </div>
        </div>


        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Trastornos Alimenticios</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAnorexia" value="Asma"
                        name="transtorno_anorexia">
                    <label class="input-custom form-check-label" for="checkAnorexia">Anorexia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAtracon"
                        name="transtorno_atracon">
                    <label class="input-custom form-check-label" for="checkAtracon">Trastorno por atracón</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkBulimia"
                        name="transtorno_bulimia">
                    <label class="input-custom form-check-label" for="checkBulimia">Bulimia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlimenticioNinguno"
                        name="transtorno_alimenticio_ningun">
                    <label class="input-custom form-check-label" for="checkAlimenticioNinguno">Ninguna</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textOtroAlimenticio" placeholder="Otra"
                    name="transtorno_alimenticio_otro">
                <label for="textOtroAlimenticio">Otra</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Fobias</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkClaustrofobia"
                        name="fobia_claustrofobia">
                    <label class="input-custom form-check-label" for="checkClaustrofobia">Claustrofobia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkHidrofobia" name="fobia_hidrofobia">
                    <label class="input-custom form-check-label" for="checkHidrofobia">Hidrofobia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkIatrofobia"
                        name="fobia_iatrofobia">
                    <label class="input-custom form-check-label" for="checkIatrofobia">Iatrofobia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkHefefobia"
                        name="fobia_hafefobia">
                    <label class="input-custom form-check-label" for="checkHefefobia">Hafefobia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkFobiaNinguna"
                        name="fobia_ninguna">
                    <label class="input-custom form-check-label" for="checkFobiaNinguna">Ninguna</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textFobiaOtra" placeholder="Otra"
                    name="fobia_otra">
                <label for="textFobiaOtra">Otra</label>
            </div>
        </div>
    </div>
</div>