<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Antecedentes Personales</h3>
    </div>
    <div class="card-body">
        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Alergias</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaAsma"
                        name="alergia_asma">
                    <label class="input-custom form-check-label" for="checkAlergiaAsma">Asma</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaRinitis"
                        value="Rinitis" name="alergia_rinitis">
                    <label class="input-custom form-check-label" for="checkAlergiaRinitis">Rinitis</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaConjuntivitis"
                        value="Conjuntivitis" name="alergia_conjuntivitis">
                    <label class="input-custom form-check-label" for="checkAlergiaConjuntivitis">Conjuntivitis</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaAlimentos"
                        name="alergia_alimentos">
                    <label class="input-custom form-check-label" for="checkAlergiaAlimentos">Alergia a
                        alimentos</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaLatex"
                        name="alergia_latex">
                    <label class="input-custom form-check-label" for="checkAlergiaLatex">Alergia al látex</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlergiaNinguna"
                        name="alergia_ninguna">
                    <label class="input-custom form-check-label" for="checkAlergiaNinguna">Ninguna</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaAlergiaOtra" placeholder="Otra"
                    name="alergia_otra">
                <label for="textareaAlergiaOtra">Otra</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Enfermedades Dermatológicas</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed_dermatitis_atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Dermatitis
                        atópica</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDAcne" name="ed_acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Acné</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDUrticaria"
                        name="ed_urticaria">
                    <label class="input-custom form-check-label" for="checkEDUrticaria">Urticaria</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDVitiligo"
                        name="ed_vitiligo">
                    <label class="input-custom form-check-label" for="checkEDVitiligo">Vitíligo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDQueratosis"
                        name="ed_queratosis">
                    <label class="input-custom form-check-label" for="checkEDQueratosis">Queratosis</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDSarna" name="ed_sarna">
                    <label class="input-custom form-check-label" for="checkEDSarna">Sarna</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDPieAtleta"
                        name="ed_pie_atleta">
                    <label class="input-custom form-check-label" for="checkEDPieAtleta">Pie de atleta</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDHongos" name="ed_hongos">
                    <label class="input-custom form-check-label" for="checkEDHongos">Hongos</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDNinguna" name="ed_ninguna">
                    <label class="input-custom form-check-label" for="checkEDNinguna">Ninguna</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Otra"
                    name="ed_otra">
                <label for="textareaEDOtra">Otra</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Antecedentes Quirúrgicos</h3>
            </div>
            <div class="col-md-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="radioSiQuirurgico"
                        value="Asma" name="ed=dermatitis-atopica" name="">
                    <label class="input-custom form-check-label" for="radioSiQuirurgico">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">No</label>
                </div>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Área"
                    name="ed-otra">
                <label for="textareaEDOtra">Área</label>
            </div>
            <div class="form-floating col-md-5">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Motivo"
                    name="ed-otra">
                <label for="textareaEDOtra">Motivo</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Utilización de Fármacos</h3>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="textareaEDOtra"
                    placeholder="Nombre del Fármaco" name="ed-otra">
                <label for="textareaEDOtra">Nombre del Fármaco</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra"
                    placeholder="Farmácos por anticoncepción" name="ed-otra">
                <label for="textareaEDOtra">Farmácos por anticoncepción</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra"
                    placeholder="Farmácos por anticoncepción" name="ed-otra">
                <label for="textareaEDOtra">Farmácos por otro motivo</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra"
                    placeholder="Farmácos por anticoncepción" name="ed-otra">
                <label for="textareaEDOtra">Frecuencia</label>
            </div>
            <div class="form-floating col-md-1">
                <input type="text" class="input-custom form-control" id="textareaEDOtra"
                    placeholder="Farmácos por anticoncepción" name="ed-otra">
                <label for="textareaEDOtra">Dosificación</label>
            </div>
        </div>


        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Implantes</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Implante
                        Anticonceptivo Diu</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Mamoplastia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDUrticaria"
                        name="ed-urticaria">
                    <label class="input-custom form-check-label" for="checkEDUrticaria">Implantes de
                        articulaciones</label>
                    <input type="text" class="form-control" placeholder="Area:" hidden>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDNinguna" name="ed-ninguna">
                    <label class="input-custom form-check-label" for="checkEDNinguna">Ninguna</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Otra"
                    name="ed-otra">
                <label for="textareaEDOtra">Otra</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Transtornos Sanguíneos</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Problemas
                        plaquetarios</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Anemias</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Coagulación excesiva</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDUrticaria"
                        name="ed-urticaria">
                    <label class="input-custom form-check-label" for="checkEDUrticaria">Hemofilia</label>
                    <input type="text" class="form-control" placeholder="Area:" hidden>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDUrticaria"
                        name="ed-urticaria">
                    <label class="input-custom form-check-label" for="checkEDUrticaria">Trombocitopenia</label>
                    <input type="text" class="form-control" placeholder="Area:" hidden>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDUrticaria"
                        name="ed-urticaria">
                    <label class="input-custom form-check-label" for="checkEDUrticaria">Trombocitosis</label>
                    <input type="text" class="form-control" placeholder="Area:" hidden>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Otra"
                    name="ed-otra">
                <label for="textareaEDOtra">Otra</label>
            </div>
        </div>


        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Enfermedades Mentales</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Esquizofrenia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Trastorno bipolar</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDUrticaria"
                        name="ed-urticaria">
                    <label class="input-custom form-check-label" for="checkEDUrticaria">Demencia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDVitiligo"
                        name="ed-vitiligo">
                    <label class="input-custom form-check-label" for="checkEDVitiligo">Trastorno depresivo</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Otra"
                    name="ed-otra">
                <label for="textareaEDOtra">Otra</label>
            </div>
        </div>


        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Trastornos Alimenticios</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Anorexia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Trastorno por atracón</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDUrticaria"
                        name="ed-urticaria">
                    <label class="input-custom form-check-label" for="checkEDUrticaria">Bulimia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDVitiligo"
                        name="ed-vitiligo">
                    <label class="input-custom form-check-label" for="checkEDVitiligo">Ninguna</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Otra"
                    name="ed-otra">
                <label for="textareaEDOtra">Otra</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Fobias</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Claustrofobia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Hidrofobia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDUrticaria"
                        name="ed-urticaria">
                    <label class="input-custom form-check-label" for="checkEDUrticaria">Iatrofobia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDVitiligo"
                        name="ed-vitiligo">
                    <label class="input-custom form-check-label" for="checkEDVitiligo">Hafefobia</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkEDVitiligo"
                        name="ed-vitiligo">
                    <label class="input-custom form-check-label" for="checkEDVitiligo">Ninguna</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Otra"
                    name="ed-otra">
                <label for="textareaEDOtra">Otra</label>
            </div>
        </div>
    </div>
</div>