<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Hábitos</h3>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-12 text-center">
                <img src="{{ url_for('static', filename='images/piramide-alimentos.jpg') }}"
                    class="img-fluid rounded-start w-75" alt="piramide-alimenticia">
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Nro. de Comidas</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkUnaComida"
                        name="habito_nro_comidas" value="1">
                    <label class="input-custom form-check-label" for="checkUnaComida">Una comida al
                        día</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkDosComidas"
                        name="habito_nro_comidas" value="2">
                    <label class="input-custom form-check-label" for="checkDosComidas">Dos comidas al día</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkTresComidas"
                        name="habito_nro_comidas" value="3">
                    <label class="input-custom form-check-label" for="checkTresComidas">Tres comidas al día</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="number" class="input-custom form-control" id="textOtraComida" placeholder="Otra"
                    name="habito_otro_nro_comidas" min="4">
                <label for="textOtraComida">Otra</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Comidas principales</h3>
            </div>
            <div class="col-md-10">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkDesayuno" value="Asma"
                        name="comida_desayuno">
                    <label class="input-custom form-check-label" for="checkDesayuno"> Desayuno</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkAlmuerzo"
                        name="comida_almuerzo">
                    <label class="input-custom form-check-label" for="checkAlmuerzo">Almuerzo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="checkbox" id="checkMerienda"
                        name="comida_merienda">
                    <label class="input-custom form-check-label" for="checkMerienda">Merienda</label>
                </div>
            </div>
            <div class="col-md-2">
                <h3 class="input-custom text-center">Tiempo entre Refrigerios</h3>
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkRefrigerioDosHoras" value="Asma"
                        name="tiempo_refrigerio">
                    <label class="input-custom form-check-label" for="checkRefrigerioDosHoras">Refrigerios: Cada 2
                        horas</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkRefrigerioTresHoras"
                        name="tiempo_refrigerio">
                    <label class="input-custom form-check-label" for="checkRefrigerioTresHoras">Cada 3 horas</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkRefrigerioCuatroHoras"
                        name="tiempo_refrigerio">
                    <label class="input-custom form-check-label" for="checkRefrigerioCuatroHoras">Cada 4 horas</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkRefrigerioPrincipales"
                        name="tiempo_refrigerio">
                    <label class="input-custom form-check-label" for="checkRefrigerioPrincipales">Igual que las
                        principales</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="number" class="input-custom form-control" id="textOtroTiempoRefrigerio"
                    placeholder="Otro tiempo" name="otro_tiempo_refrigerio">
                <label for="textOtroTiempoRefrigerio">Otro tiempo</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Consumo de agua</h3>
            </div>
            <div class="form-floating col-md-10">
                <input type="number" class="input-custom form-control" id="textNroVasosAgua"
                    placeholder="Nro. de vasos al día" name="nro_vasos_agua">
                <label for="textNroVasosAgua">Nro. de vasos al día</label>
            </div>
        </div>

    </div>
</div>