<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Hábitos Tóxicos</h3>
    </div>
    <div class="card-body">
        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Consumo de Alcohol</h3>
            </div>
            <div class="col-md-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">No</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Frecuencia en horas</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Frecuencia en días</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Frecuencia en semanas</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Último consumo</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Consumo de Tabaco</h3>
            </div>
            <div class="col-md-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">No</label>
                </div>
            </div>
            <div class="form-floating col-lg-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Frecuencia en horas</label>
            </div>
            <div class="form-floating col-lg-3">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Frecuencia en días</label>
            </div>
            <div class="form-floating col-lg-3">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Frecuencia en semanas</label>
            </div>
            <div class="col-md-2">
                <h3 class="input-custom text-center" hidden>Consumo de Tabaco</h3>
            </div>
            <div class="form-floating col-md-5">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Nro. de Cajetillas/Cigarros</label>
            </div>
            <div class="form-floating col-md-5">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Último consumo</label>
            </div>

        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Consumo de Alucinógenos o Drogas</h3>
            </div>
            <div class="col-md-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">No</label>
                </div>
                
            </div>

            <div class="col-md-8 text-center">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Experimental</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Ocasional</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Habitual</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">Dependiente</label>
                </div>
            </div>


            <div class="col-md-2">
                <h3 class="input-custom text-center" hidden>Consumo de Alucinógenos o Drogas</h3>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Frecuencia en horas</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Frecuencia en días</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Frecuencia en semanas</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Último consumo</label>
            </div>
        </div>

    </div>
</div>