<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Hábitos Tóxicos</h3>
    </div>
    <div class="card-body">
        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Consumo de Alcohol</h3>
            </div>
            <div class="col-md-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkSiAlcohol" value=True
                        name="habito_toxico_alcohol">
                    <label class="input-custom form-check-label" for="checkSiAlcohol">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkNoAlcohol"
                        name="habito_toxico_alcohol">
                    <label class="input-custom form-check-label" for="checkNoAlcohol">No</label>
                </div>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textFrecuenciaHoras"
                    placeholder="Frecuencia en horas" name="habito_alcohol_horas">
                <label for="textFrecuenciaHoras">Frecuencia en horas</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textAlcoholFrecuenciaDias"
                    placeholder="Frecuencia en días" name="habito_alcohol_dias">
                <label for="textAlcoholFrecuenciaDias">Frecuencia en días</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textAlcoholFrecuenciaSemanas"
                    placeholder="Frecuencia en semanas" name="habito_alcohol_semanas">
                <label for="textAlcoholFrecuenciaSemanas">Frecuencia en semanas</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textUltimoConsumoAlcohol"
                    placeholder="Último consumo" name="habito_alcohol_ultimo_consumo">
                <label for="textUltimoConsumoAlcohol">Último consumo</label>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Consumo de Tabaco</h3>
            </div>
            <div class="col-md-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkSiTabaco" value=True
                        name="habito_toxico_tabaco">
                    <label class="input-custom form-check-label" for="checkSiTabaco">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkNoTabaco" value=False
                        name="habito_toxico_tabaco">
                    <label class="input-custom form-check-label" for="checkNoTabaco">No</label>
                </div>
            </div>
            <div class="form-floating col-lg-2">
                <input type="text" class="input-custom form-control" id="textTabacoFrecuenciaHoras"
                    placeholder="Frecuencia en horas" name="habito_tabaco_horas">
                <label for="textTabacoFrecuenciaHoras">Frecuencia en horas</label>
            </div>
            <div class="form-floating col-lg-3">
                <input type="text" class="input-custom form-control" id="textTabacoFrecuenciaDias"
                    placeholder="Frecuencia en días" name="habito_tabaco_dias">
                <label for="textTabacoFrecuenciaDias">Frecuencia en días</label>
            </div>
            <div class="form-floating col-lg-3">
                <input type="text" class="input-custom form-control" id="textTabacoFrecuenciaSemanas"
                    placeholder="Frecuencia en semanas" name="habito_tabaco_semanas">
                <label for="textTabacoFrecuenciaSemanas">Frecuencia en semanas</label>
            </div>
            <div class="col-md-2">
                <h3 class="input-custom text-center" hidden>Consumo de Tabaco</h3>
            </div>
            <div class="form-floating col-md-5">
                <input type="text" class="input-custom form-control" id="textTabacoNro"
                    placeholder="Nro. de Cajetillas/Cigarros" name="habito_tabaco_nro">
                <label for="textTabacoNro">Nro. de Cajetillas/Cigarros</label>
            </div>
            <div class="form-floating col-md-5">
                <input type="text" class="input-custom form-control" id="textTabacoUltimoConsumo"
                    placeholder="Último consumo" name="habito_tabaco_ultimo_consumo">
                <label for="textTabacoUltimoConsumo">Último consumo</label>
            </div>

        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Consumo de Alucinógenos o Drogas</h3>
            </div>
            <div class="col-md-2 text-center">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkSiDrogas"
                        name="habito_toxico_drogas" value=True>
                    <label class="input-custom form-check-label" for="checkSiDrogas">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkNoDrogas"
                        name="habito_toxico_drogas" value=False>
                    <label class="input-custom form-check-label" for="checkNoDrogas">No</label>
                </div>

            </div>
            
            <div class="col-md-8 text-center">
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkDrogasExperimental"
                        value="Experimental" name="habito_drogas_consumo">
                    <label class="input-custom form-check-label" for="checkDrogasExperimental">Experimental</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkDrogasOcasional"
                        value="Ocasional" name="habito_drogas_consumo">
                    <label class="input-custom form-check-label" for="checkDrogasOcasional">Ocasional</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkDrogasHabitual" value="Habitual"
                        name="habito_drogas_consumo">
                    <label class="input-custom form-check-label" for="checkDrogasHabitual">Habitual</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkDrogasDependiente"
                        value="Dependiente" name="habito_drogas_consumo">
                    <label class="input-custom form-check-label" for="checkDrogasDependiente">Dependiente</label>
                </div>
            </div>


            <div class="col-md-2">
                <h3 class="input-custom text-center" hidden>Consumo de Alucinógenos o Drogas</h3>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textDrogasFrecuenciaHoras"
                    placeholder="Frecuencia en días" name="habito_drogas_horas">
                <label for="textDrogasFrecuenciaHoras">Frecuencia en horas</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textDrogasFrecuenciaDias"
                    placeholder="Frecuencia en días" name="habito_drogas_dias">
                <label for="textDrogasFrecuenciaDias">Frecuencia en días</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="textDrogasFrecuenciaSemanas"
                    placeholder="Frecuencia en días" name="habito_drogas_semanas">
                <label for="textDrogasFrecuenciaDias">Frecuencia en semanas</label>
            </div>
            <div class="form-floating col-md-3">
                <input type="text" class="input-custom form-control" id="textDrogasUltimoConsumo"
                    placeholder="Frecuencia en días" name="habito_drogas_ultimo_consumo">
                <label for="textDrogasUltimoConsumo">Último consumo</label>
            </div>
        </div>

    </div>
</div>