<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Actividades Personales</h3>
    </div>
    <div class="card-body">
        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Actividad Física</h3>
            </div>
            <div class="col-md-2 text-center">
                Realiza alguna actividad: <br>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">No</label>
                </div>
            </div>
            <div class="form-floating col-md-8">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Tipo de actividad o deporte</label>
            </div>
            <div class="col-md-2">
                <h3 class="input-custom text-center" hidden>Actividad Física</h3>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Minutos</label>
            </div>
            <div class="form-floating col-md-2">
                <input type="text" class="input-custom form-control" id="textareaEDOtra" placeholder="Frecuencia en días"
                    name="ed-otra">
                <label for="textareaEDOtra">Horas</label>
            </div>
            <div class="col-md-6 text-center">
                Frecuencia: <br>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">1-2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">2-3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">3-4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">4-5</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">6-7</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">7 veces a la semana</label>
                </div>
            </div>
        </div>

        <div class="border row g-3 mt-2 pb-3 align-items-center">
            <div class="col-md-2">
                <h3 class="input-custom text-center">Descanso</h3>
            </div>
            <div class="col-md-10 text-center">
                Horas de sueño: <br>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDDermatitisAtopica"
                        value="Asma" name="ed=dermatitis-atopica">
                    <label class="input-custom form-check-label" for="checkEDDermatitisAtopica">1-2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">2-3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">3-4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">4-5</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">6-7</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">7-8</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="input-custom form-check-input" type="radio" id="checkEDAcne" name="ed-acne">
                    <label class="input-custom form-check-label" for="checkEDAcne">7-9 o más</label>
                </div>
            </div>
        </div>



    </div>
</div>