<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Motivo Consulta</h3>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-12">
                <textarea class="input-custom form-control" id="textMotivoConsulta" name="motivo_consulta" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Enfermedad Actual</h3>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-12">
                <textarea class="input-custom form-control" id="textEnfermedadActual" name="enfermedad_actual" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center card mt-5 w-75 mx-auto">
    <div class="card-header text-center">
        <h3>Observación</h3>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-12">
                <textarea class="input-custom form-control" id="textConsultaObservacion" name="consulta_observacion" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>