<div class="border row g-3 pb-3 align-items-center">
    <div class="col-md-12 text-center">
        <h4>CADERA</h4>
    </div>
    <div class="col-md-4">
        <h3 class="input-custom text-center">Flexión</h3>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="input-custom form-control" id="textRodillaDerechoFlexion"
            placeholder="Grado (Derecha)" name="rodilla_flexion_derecha">
        <label for="textRodillaDerechoFlexion">Grado (Derecha)</label>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="input-custom form-control" id="textRodillaIzquierdoFlexion"
            placeholder="Grado (Izquierda)" name="rodilla_flexion_izquierda">
        <label for="textRodillaIzquierdoFlexion">Grado (Izquierda)</label>
    </div>

    <div class="col-md-4">
        <h3 class="input-custom text-center">Extensión</h3>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="input-custom form-control" id="textRodillaDerechoExtension"
            placeholder="Grado (Derecha)" name="rodilla_extension_derecha">
        <label for="textRodillaDerechoExtension">Grado (Derecha)</label>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="input-custom form-control" id="textRodillaIzquierdoExtension"
            placeholder="Grado (Izquierda)" name="rodilla_extension_izquierda">
        <label for="textRodillaIzquierdoExtension">Grado (Izquierda)</label>
    </div>

    <div class="col-md-4">
        <h3 class="input-custom text-center">Rotación interna</h3>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="input-custom form-control" id="textRodillaDerechoRotacionInterna"
            placeholder="Grado (Derecha)" name="rodilla_rotacion_interna_derecha">
        <label for="textRodillaDerechoRotacionInterna">Grado (Derecha)</label>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="input-custom form-control" id="textRodillaIzquierdoRotacionInterna"
            placeholder="Grado (Izquierda)" name="rodilla_rotacion_interna_izquierda">
        <label for="textRodillaIzquierdoRotacionInterna">Grado (Izquierda)</label>
    </div>

    <div class="col-md-4">
        <h3 class="input-custom text-center">Rotación externa</h3>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="input-custom form-control" id="textRodillaDerechoRotacionExterna"
            placeholder="Grado (Derecha)" name="rodilla_rotacion_externa_derecha">
        <label for="textRodillaDerechoRotacionExterna">Grado (Derecha)</label>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="input-custom form-control" id="textRodillaIzquierdoRotacionExterna"
            placeholder="Grado (Izquierda)" name="rodilla_rotacion_externa_izquierda">
        <label for="textRodillaIzquierdoRotacionExterna">Grado (Izquierda)</label>
    </div>
</div>